<header>
  <h1>RPG ANVIL</h1>
  <form action="/" method="GET">
    <input
      class="search-bar"
      type="search"
      name="search"
      placeholder="Search..."
    />
    <button type="submit">Q</button>
  </form>
</header>
